
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/css/reset.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>                                                                                      
  
</head>
<body>                                                                                                                                                                                                                                                                                                                                                                                                                            
<div class="LoginContainer">
    <div class="inputbuttonContainer">
        @*@using (Html.BeginForm("Login", "Home"))*@
@*        {*@
           <input type="text" name="username" id="user" placeholder="Kullanıcı Adı" required /><br />
           <input type="password" name="password" id="pass" placeholder="Şifre" required /><br />
  @*      }*@

    <button class="sistem">Sayfaya Git</button>
    </div>
</div>

    <script src="~/js/jQuery.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
