@model WebApplication2.Models.Dashboard

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Dashboard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LATITUDE" class="control-label"></label>
                <input asp-for="LATITUDE" class="form-control" />
                <span asp-validation-for="LATITUDE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LONGITUDE" class="control-label"></label>
                <input asp-for="LONGITUDE" class="form-control" />
                <span asp-validation-for="LONGITUDE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PROBLEMTYPE" class="control-label"></label>
                <input asp-for="PROBLEMTYPE" class="form-control" />
                <span asp-validation-for="PROBLEMTYPE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PROBLEMTYPEID" class="control-label"></label>
                <input asp-for="PROBLEMTYPEID" class="form-control" />
                <span asp-validation-for="PROBLEMTYPEID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PROBLEMDATE" class="control-label"></label>
                <input asp-for="PROBLEMDATE" class="form-control" />
                <span asp-validation-for="PROBLEMDATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PROBLEMNOTE" class="control-label"></label>
                <input asp-for="PROBLEMNOTE" class="form-control" />
                <span asp-validation-for="PROBLEMNOTE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USERNAME" class="control-label"></label>
                <input asp-for="USERNAME" class="form-control" />
                <span asp-validation-for="USERNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USEREMAIL" class="control-label"></label>
                <input asp-for="USEREMAIL" class="form-control" />
                <span asp-validation-for="USEREMAIL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USERPHONENUMBER" class="control-label"></label>
                <input asp-for="USERPHONENUMBER" class="form-control" />
                <span asp-validation-for="USERPHONENUMBER" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USERDEVICETYPE" class="control-label"></label>
                <input asp-for="USERDEVICETYPE" class="form-control" />
                <span asp-validation-for="USERDEVICETYPE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USERDEVICEVERSION" class="control-label"></label>
                <input asp-for="USERDEVICEVERSION" class="form-control" />
                <span asp-validation-for="USERDEVICEVERSION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DEVICEOSVERSION" class="control-label"></label>
                <input asp-for="DEVICEOSVERSION" class="form-control" />
                <span asp-validation-for="DEVICEOSVERSION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REPORTDATE" class="control-label"></label>
                <input asp-for="REPORTDATE" class="form-control" />
                <span asp-validation-for="REPORTDATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NETWORKTYPE" class="control-label"></label>
                <input asp-for="NETWORKTYPE" class="form-control" />
                <span asp-validation-for="NETWORKTYPE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
