
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/normalize.css" rel="stylesheet" />
    <link href="~/css/reset.min.css" rel="stylesheet" />
     <link href="~/css/style.css" rel="stylesheet" />
    <title>index</title>
</head>
<body>
    <div class="container">
        <div class="leftContainer">
            <button class="buttonClass tableButton">Tables</button>
            <button class="buttonClass">X,Y Graph</button>
            <button class="buttonClass">Pie Graph</button>
            <button class="buttonClass">Bar Chart</button>


        </div>
        <div class="rightContainer">

        </div>
    </div>


    <script src="~/js/jQuery.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
